name: my_todo_app
description: TODO no mark - A minimalist, feature-rich todo app.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  google_fonts: ^5.1.0 # Downgraded to fix 'FontFeature' error in tests
  intl: ^0.19.0        # For date formatting

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
